body {
    margin: 0;
    padding:0;
    font-family: roboto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 20px;
    background-color: #f4f4f4;
  }
  .main {
    margin-top: 20px;
    width: 457px;
    height: 138px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px; 
 
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  img {
    width: 130px;
    height: 130px;
    float: left;
    margin-right: 14px;
  }
  .tweet {
    margin: 0px 0px 24px 0px;
  }
  .username {
    font-weight: bold;
    margin: 5px 0px 14px 0px;
  }
  .icons {
    width: 20px;
    height: 20px;
    margin-right: 12px;
  }
  
  .interactions {
    margin-right: 24px;
    font-size: 15px;
    color: #858991;
  }et a maximum width for the image */
    margin-right: 14px;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-info h2 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #000000; /* Black text color, you can change it */
}

.user-info p {
    margin: 0;
    font-size: 14px;
}

.symbols {
    display: flex;
    align-items: center;
    margin-top: 24px; /* Spacing between text and symbols */
}

.comment-symbol,
.like-symbol {
    font-size: 20px;
}

.spacing {
    margin-right: 24px; /* Adjust spacing between symbols */
}

.symbol-text {
    font-size: 14px;
}
